.protected__border_container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.protected__border_red {
    padding: 1em;
    background-color: red;
    border-style: none;
    margin-bottom: 0;
    z-index: -1;
}

.protected__border_black {
    margin-top: 0;
    padding: 1em;
    background-color: rgb(0, 0, 0);
    border-style: none;
    z-index: -1;
    margin-bottom: 0;

}
.protected__pokeball{
    position: fixed;
    left: 45%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    border: 5px solid white;
    bottom: 10px;
}